body {display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(rgb(235, 229, 175), rgb(255, 242, 58), rgb(235, 229, 175) );
}

.fatherCard {
    display: flex;
    justify-content: space-around;
    border: solid; 
    border-color: black ;
    
}

.items{
    background: linear-gradient(rgb(161, 108, 46),rgb(252, 190, 119),rgb(161, 108, 46));
    border: solid;
    border-color: black;
    margin: 5px;
    width: 150px;
    height: 200px;
}

.imgCards {
    
}

.names {
    text-align: center;
}

.backImg {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: rgba(53, 53, 45, 0.726);
    border-radius: 50%;
}